form(method='post', action=`/posts/${post.id}/edit/?_method=PUT`)

    label(for="title") Change email
    input(type="String", placeholder="title", name="title", value=post.title, required)

    input(type="submit", value="Upload")