extends ../layout.pug
block content 
    h1 Movies!

    nav
    include ../partials/filterForm.pug

    each post in posts
        h2= post.title
        p= post.content
        a(href=`/posts/${post.id}`) Read more
    else 
        p No posts