header 
  li 
    a(href='/') Home
  li 
    a(href='/posts') Board

  h1=pageTitle

  if loggedIn
    p Logged in as #{loggedInUser.username}
    a(href='/logout') Logout
    br
    a(href=`/users/${loggedInUser.id}`) My page
  else
    p Not logged in
    a(href='/login') Login
    a(href='/join') Join